.line {
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
  margin-top: 16px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flexOne{
  flex: 1;
}

.width90{
  width: 90%;
}